.container-conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.conditions-description {
  margin: 40px 40px;
  text-align: justify;
  font-size: 14px;
  color: rgb(48, 48, 48);
}
