.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.human-container {
  background: rgb(182, 79, 160);
  background: linear-gradient(
    90deg,
    rgba(182, 79, 160, 1) 3%,
    rgba(252, 70, 107, 1) 60%,
    rgba(252, 149, 70, 1) 97%
  );
}

.unika-frame-container {
  padding-bottom: 82px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(5, 100, 181, 1) 68%
  );
}

.strategy-container {
  background: rgb(191, 209, 75);
  background: linear-gradient(90deg, rgb(91 75 209) 0%, rgb(0 240 255) 97%);
}

.human-title-img-container {
  display: flex;
  flex-direction: column;
}

.frame-title-img-container {
  display: flex;
  flex-direction: column;
}

.strategy-title-img-container {
  display: flex;
  flex-direction: column;
}

.frame-image-hr {
  height: 340px;
}

.human-image-hr {
  height: 350px;
}

.strategy-image-hr {
  height: 220px;
  z-index: 1;
}

.human-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  padding: 0;
  margin-top: -39px;
  text-align: center;
}

.frame-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  padding: 40px;
  margin: 0;
  text-align: center;
}

.strategy-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.human-description {
  margin: 0 40px;
  text-align: center;
  font-size: 18px;
}
.frame-description {
  margin: 0 40px;
  text-align: center;
  font-size: 18px;
}

.strategy-description {
  text-align: center;
  font-size: 18px;
  padding: 90px 38px 120px 38px;
  margin-top: -20px;
  background: rgb(37, 37, 37);
  background: radial-gradient(circle, rgb(9, 9, 9) 0%, rgb(31, 30, 30) 96%);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@media screen and (min-width: 768px) {
  .human-title-img-container {
    flex-direction: row;
  }

  .frame-title-img-container {
    flex-direction: row;
  }

  .human-title {
    margin-top: 93px;
    text-align: left;
  }

  .frame-title {
    text-align: right;
    margin-top: 87px;
  }

  .human-image-hr {
    height: 302px;
    margin-left: -47px;
  }

  .human-description {
    font-size: 22px;
  }

  .frame-description {
    margin: 0 200px;
  }
}
