.people-first-title {
  background: rgb(105, 105, 105);
  background: radial-gradient(
    circle,
    rgba(105, 105, 105, 1) 0%,
    rgba(33, 33, 33, 1) 100%
  );
  margin: 0;
  padding: 40px;
}
.container {
  margin: 0;
  padding: 0;
}

.container-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.people-title-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
  background: rgb(79, 6, 139);
  background: linear-gradient(
    172deg,
    rgba(79, 6, 139, 1) 0%,
    rgba(167, 70, 236, 1) 15%,
    rgba(40, 11, 129, 1) 100%
  );
}

.people-image-hr {
  width: 260px;
  margin: 0 30px;
}
.people-name {
  font-size: 30px;
}
.people-title {
  line-height: 50px;
  padding: 0;
  margin-top: -33px;
  text-align: center;
}

.people-description {
  margin: 0 40px;
  text-align: left;
  font-size: 18px;
  font-size: 15px;
  line-height: 17px;
}

@media screen and (min-width: 768px) {
  .people-first-title {
    padding: 50px;
  }
  .container {
    margin-top: -11px;
  }

  .container-people {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .info-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .people-title-img-container {
    flex-direction: row;
    align-items: center;
    padding: 50px 160px 60px 160px;
    height: 70vh;
  }

  .people-description {
    margin: 0;
  }

  .people-image-hr {
    width: 350px;
    margin: 0%;
  }
}
