.nav-bar {
  background-color: rgb(0, 0, 0);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
}

.UnikaHR-logo {
  height: 30px;
  padding: 15px 10px 10px 25px;
}

.nav-items {
  margin-right: 30px;
}

.nav-items a {
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex !important;
    padding: 20px 14px 10px 10px;
    flex-direction: column;
    margin: 15px;
  }

  .nav-items {
    transform: translate(-100%);
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    transition: 0.3s ease all;
    width: 240px;
    align-items: flex-start;
    margin-right: 0;
  }

  .nav-items a {
    margin: 20px 0 20px 34px;
    font-size: 18px;
  }

  .nav-items.open {
    transform: translate(0) !important;
  }

  .nav-toggle span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
  }

  .nav-toggle.open > span {
    transform: rotate(45deg) translate(0, 0);
  }
  .nav-toggle.open > span:nth-child(2) {
    display: none;
  }
  .nav-toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}
