.container-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 90px;
  background: rgb(3, 17, 179);
  background: linear-gradient(
    172deg,
    rgba(3, 17, 179, 1) 0%,
    rgba(8, 19, 182, 1) 22%,
    rgba(8, 174, 182, 1) 100%
  );
}

.services-title-container {
  display: flex;
  flex-direction: column;
}

.services-image-hr {
  height: 410px;
}

.services-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  padding: 40px 15px;
  margin-top: -39px;
  text-align: center;
}

.service-description-container {
  display: flex;
  flex-direction: column;
  margin-top: -16px;
}

.subtitle-description-service {
  font-size: 25px;
}

.services-description {
  margin: 0 40px;
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .container-services {
    justify-content: flex-start;
    align-items: normal;
    padding-bottom: 0;
  }

  .services-title-container {
    flex-direction: row;
    justify-content: center;
    margin: 0 20px;
  }

  .services-title {
    margin-top: 200px;
    text-align: left;
    font-size: 50px;
    margin-left: -150px;
  }

  .services-image-hr {
    height: 515px;
  }

  .services-description {
    margin: 0 200px;
    text-align: justify;
  }
}
