.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 203, 31);
  background: linear-gradient(
    90deg,
    rgba(255, 203, 31, 1) 0%,
    rgba(196, 248, 18, 1) 66%,
    rgba(255, 253, 23, 1) 100%
  );
}

.contact-title-img-container {
  display: flex;
  flex-direction: column;
}

.contact-image-hr {
  height: 100%;
}

.contact-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  padding: 0;
  margin-top: -39px;
  text-align: center;
  color: black;
}

.contact-description {
  margin: 0 40px;
  text-align: center;
  font-size: 18px;
  color: black;
}

.map-form-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  background-color: black;
  width: 280px;
  display: flex;
}

iframe {
  width: 400px;
  height: 400px;
  border: none;
}

@media screen and (min-width: 768px) {
  .container-contact {
    min-height: 80vh;
  }

  .contact-title-img-container {
    flex-direction: row;
    align-items: center;
    margin-top: -35px;
  }

  .contact-title {
    margin-top: 180px;
    text-align: left;
    font-size: 60px;
  }

  .contact-description {
    font-size: 22px;
  }

  .map-form-container {
    flex-direction: row;
    justify-content: center;
  }

  .map-container {
    padding: 0 50px;
  }
}
