.values {
  margin: 0;
  padding: 10px 25px 40px 25px;
  list-style-type: none;
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  background: rgb(78, 78, 78);
  background: linear-gradient(
    172deg,
    rgba(78, 78, 78, 1) 0%,
    rgb(59, 59, 59) 39%
  );
}

.value-container {
  width: 360px;
  margin: 10px auto;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.value-info {
  padding-top: 3px;
  margin-top: 35px;
}

.value-title {
  color: rgb(198, 198, 198);
  font-size: 20px;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.value-description {
  color: rgb(190, 190, 190);
  font-size: 18px;
  line-height: 19px;
  text-align: justify;
  padding: 20px;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.project-website {
  color: gray;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .values {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 3fr)); */
    grid-gap: 10px;
    padding-bottom: 120px;
  }
}
